// === Общие стили ===
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

// === Аккордион ===
.accordion {
}
.accordion-item {
    position: relative;
    margin-bottom: 20px;
}
.accordion-item__input {
    appearance: none
}
.accordion-item__trigger {
    display: block;
    padding: 20px;
    border: 1px solid #f034f0;
    border-top: none;
    border-left: none;
    border-right: none;
}
.accordion-item__content {
    padding: 20px;
    border: 1px solid #f034f0;
    border-top: none;
    display: none;
}
